body {
    background-color: rgb(255, 79, 48);
}

.whiteboard {
    background-color: whitesmoke;
    border-radius: 10px;
}

#board-div {
    text-align: center;
}   

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 38px;
    color: wheat;
    text-align: center;
    margin: 44px auto;
}

.grid {
    background-color: wheat;
    display: flex;
    height: 650px;
    width:650px;
    margin: 0px auto;
    flex-direction: column;
}

.field {
    opacity: 0;
    flex: auto;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.change-btn {
    background-color: brown;
    font-size: 28px;
    font-family: "Roboto";
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border-style: dashed;
    border: 5px salmon seagreen;
}

.change-btn-down {
    background-color: rgb(83, 21, 21);
    color: whitesmoke;
    font-size: 28px;
    font-family: "Roboto";
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border-style: dashed;
    border: 5px salmon seagreen;
}

.button-div {
    margin: 20px auto 40px auto;
    display: flex;
    justify-content: center;
}