body {
    background-color: rgb(255, 79, 48);
}

.whiteboard {
    background-color: whitesmoke;
    border-radius: 10px;
}

#board-div {
    text-align: center;
}   

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 38px;
    color: wheat;
    text-align: center;
    margin: 44px auto;
}

.grid {
    display: flex;
    height: 800px;
    width: 800px;
    margin: 0px auto;
    flex-direction: column;
}

.field {
    background-color: aliceblue;
    flex: auto;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.change {
    margin: 5px auto;
    text-align: center;
}