body {
    background-color: rgb(255, 79, 48);
}

.whiteboard {
    background-color: whitesmoke;
    border-radius: 10px;
}

#board-div {
    text-align: center;
}   

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 38px;
    color: wheat;
    text-align: center;
    margin: 44px auto;
}